<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AppiumParallelSuite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="org.appium.Listeners.TestListener" />
    </listeners>
    <test name="TestOnDevice1">
        <parameter name="deviceIndex" value="0"/>
        <parameter name="formDataIndex" value="0"/>
        <classes>
            <class name="org.testCase.TestCase1"/>
            <class name="org.testCase.TestCase2"/>
            <class name="org.testCase.TestCase3"/>
        </classes>

    </test>
    <test name="TestOnDevice2">
        <parameter name="deviceIndex" value="1"/>
        <parameter name="formDataIndex" value="1"/>
        <classes>
            <class name="org.testCase.TestCase1"/>
            <class name="org.testCase.TestCase2"/>
            <class name="org.testCase.TestCase3"/>
        </classes>
    </test>

 <!--   <test name="TestOnNokia">
        <parameter name="deviceIndex" value="0"/>
        <parameter name="formDataIndex" value="0"/>
        <classes>
            <class name="org.testCase.TestCase3"/>
        </classes>
    </test>

    <test name="TestOnSamsung">
        <parameter name="deviceIndex" value="1"/>
        <parameter name="formDataIndex" value="1"/>
        <classes>
            <class name="org.testCase.TestCase3"/>
        </classes>
    </test>-->
</suite>
